// ---------------------------------------------------------------------------
// Imports
@import "susy";


// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 24;
$column-width   : 3%;
$gutter-width   : 1%;
$grid-padding   : $gutter-width;
$side-gutter-width: 0%;

$show-grid-backgrounds  : true;
