// ---------------------------------------------------------------------------
// Imports
@import "base";
@import "compass/reset";
@import "compass/utilities/lists/horizontal-list";
@import "mixins";
@import "variables";

body {
  @include font-family-serif;
}

h1,h2,h3,h4,h5,h6 {
  @include font-family-sans-serif;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 50px;
  line-height: 70px;
}

p {
  font-size: 15px;
  line-height: 25px;
}


.page {
  header, footer { clear: both; }

  nav { 
    height: 32px;
  }

  header[role='banner'] {
    background-color: $footerBackground;
    height: 62px;
    color: $white;
    @include font-family-sans-serif;

    .logo h1 {
      font-size: 18px;
      font-weight: 600;
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: $white;
      }
    }

    #nav-primary {
      float: right;
    }
  }

  .get-started {
    .ag1 {
      @include span-columns(6,24);
    }

    text-align: center;
    padding: 25px 30px;
    background-color: $white;
    border: 1px solid #dadada;
    margin-bottom: 40px;
    color: $grayDark;
    border-radius: 6px;
    @include box-shadow(0 1px 2px rgba(0,0,0,.75));

    @include span-columns(12, 24);
    clear: both;

    h2 {
      margin: 0 0 30px 0;
      display: inline;
      font-weight: 300;
    }

    .button a {
      position: relative;
      top: -3px;
      margin-left: 20px;
      background-color: $orange;
      padding: 9px 14px;
      font-size: 15px;
      line-height: normal;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 0;
    }
  }


  .hero-unit {
    background: url(image_path('swinburne.png'));
    /*background-position: 50%;*/
    background-repeat: no-repeat;
    background-color: $white;
    color: $white;
    height: 600px;
    width: 100%;
    text-align: center;
    overflow: hidden;

    h1 {
      font-size: 48px;
      margin-bottom: 8px;
      font-weight: 500;
      text-shadow: 0px 1px 2px $black;
    }

    h2 {
      font-size: 24px;
      font-weight: 300;
      text-shadow: 0px 1px 2px $black;
    }

    ul {
      list-style: none;
      text-align: left;
      padding-top: 60px;
      position: relative;

      li {
        color: #555;
        font-size: 13px;
        margin-bottom: 20px;
        width: 210px;
        height: 265px;
        background: $white;
        display: block;
        padding: 30px;
        border-radius: 8px;
        background-repeate: no-repeat;
        opacity: 0.7;

        .float-up {
          position: absolute;
          top: 500px;
        }

        .edition-box, .apparatus-box, .notes-box, .other-box {
          float: left;
          @include span-columns(6,24);
        }

        p {
          @include font-family-sans-serif;
          font-weight: 300;

          &:first-child {
            color: $grayDark;
            font-size: 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

}


footer {


  @include font-family-sans-serif;

  background-color: $footerBackground;
  color: $white;
  padding: 45px 0;
  min-width: 1100px;
  display: block;

  a {
    color: #bdbdbd;
    text-decoration: none;
    background-color: $footerBackground;
    &:hover {
      text-decoration: underline;
      color: #79ccff;
    }
  }

  p {
    color: #bababa;
    padding: 15px 0;
  }

  ul {
    list-style: none;
    margin: 0;
    color: #6a6a6a;
    font-size: 13px;

    @include clearfix;

    li {
      float: left;
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }

  .twitter-link {
    padding-left: 30px;
    background-position: left center;
    margin-left: 0;
    color: #bdbdbd;
    opacity: 1;

    &:hover {
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }

  .logo {
    margin: 0 auto;
    /*background: url(image_path('waynebot.png'));*/

    .waynebot-badge {
      width: 75px;
      height: 77px;
      display: inline-block;
      float: left;
      margin-right: 10px;
      background-color: transparent;
      border: 0;
      color: transparent;

    }

    h2 {
      color: $white;
    }
  }
}


/* -------------------------------------------------------------------------*/
/* Layout */


.container {
  @include container;
  @include susy-grid-background;

  nav {
    @include horizontal-list-container;

    li {
      @include horizontal-list-item;
    }
  }


}
