<header role="banner">
  <div class="logo">
    <h1><%= link_to 'Swinburne on Rails', root_path %></h1>

  </div>
  <nav id="nav-primary">
    <ul>
      <li><%= link_to 'About' %></li>
    </ul>
  </nav>
</header>

